@page
@model CW15.Pages.ExpertModel
@{
}


<h2>Create Service</h2>

<form method="post">
    <div class="mb-3">
        <label asp-for="@Model.NewService.Name" class="form-label">w</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>